@import url('https://fonts.googleapis.com/css?family=Varela+Round');

.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
  font-family: 'Varela Round', sans;
  justify-content:center;
  overflow: hidden;

}

.navbar {
  width: 100%;
}
.all {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
  font-family: 'Varela Round', sans;
  justify-content:center;
  overflow: hidden;
  background-image: url(/home/raulsposito/code/labs/react-project/quote-market-client/quote-market/src/img/wp4050474.jpg);
  background-size: auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  background-color: #940E81;
  border-radius: 3vh;
  font-size: 1.7vh;
  color: #fff;
  margin: 0 auto;
  padding: 0.5vh;
  text-transform: uppercase;
  width: 28vh;
}

input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  
  text-align: center;
  background: #FFF18F;
  font-family: 'Varela Round', sans;
  justify-content:center;
  margin-top: 10px;
  margin-bottom: 15px;
  outline: none;
  border-radius: 8px;
  border-color: #FFE202;
  border-style:double;
  font-size: 1em;
  padding: 8px;
  color: #555;
  box-shadow: none;
}

.MainContainer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 10vh;
	margin: -20px 0 10px;

}

.pic {
  background-color:#FFE202;
	padding-left:5px;
	padding-right:5px;
	padding-top:5px;
	padding-bottom:5px;

  min-height: 20rem; /* layout hack */
	background: #fff center center no-repeat;
	background-size: cover; 
}

.pic:hover {
  transform: scale(1.05 );
}

.post-card {
  margin: 1rem;
  box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

#find {
  background-color: transparent;
  font-family: 'Varela Round', sans;
  background-image: url(/home/raulsposito/code/labs/react-project/quote-market-client/quote-market/src/img/Find.png);
  height: 60px;
  text-align: center;
  justify-content: center;
}

#find:hover {
  transform: scale(1.05 );
}

#be {
  background-color: transparent;
  font-family: 'Varela Round', sans;
  background-image: url(/home/raulsposito/code/labs/react-project/quote-market-client/quote-market/src/img/Be.png);
  height: 60px;
  text-align: center;
  justify-content: center;
}

#be:hover {
  transform: scale(1.05 );
}

p {
  font-family: 'Varela Round', sans;
  color: #940E81;
  font-weight: 600;
}

p:hover {
  transform: scale(1.05 );
}

a {
  font-family: 'Varela Round', sans;
  font-weight: 600;
}

a:hover {
  transform: scale(1.05 );
}
