body {
  margin: 0;
  font-family: 'Varela Round', sans;
  min-height: calc(100vh - 70px);
}

code {
  font-family: 'Varela Round', sans;
}

.footer {
  height: 100%;
}

.home {
  margin: 15px;
  background-color: blue;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.double-column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 2;
}

.post-feed {
  overflow: scroll;
  
  overflow-x: hidden;
  height: 270px;
}

#movie-showcase {
  flex-direction: row;
  flex-wrap: wrap;
  width: 650px;
  height: 650px;
}

.movie-card {
  width: 200px;
  height: 200px;
  margin: 5px;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.movie-card:hover {
  transform: scale(1.05)
}

.movie-card:active {
  transform: rotateY(180deg) scale(1.05);
}



.card-front, .card-back {
  position: absolute;
  height: inherit;
  width: inherit;
  backface-visibility: hidden;
  background-size: cover;
}

.card-front {
  filter: grayscale(100%);
  transition-duration: 1s;
  box-shadow: 5px 5px 10px;
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  
}

.card-front:hover {
  filter: grayscale(0%);
}

.card-back {
  transform: rotateY(180deg);
  box-shadow: 5px 5px 10px rgb(55, 55, 55, 0.85);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

span {
  border: none;
  width: 80%;
  height: 0px;
  border: 1px solid black;
  color: #000000;
}